{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Make Australia Green Again</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" type="text/css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/business-frontpage.css' %}"  type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://kit.fontawesome.com/f3e2a66c58.js"></script>
  <script async="" src="{% static 'js/calculator.min.js' %}"></script>
  <script defer src="{% static 'js/tableau.min.js' %}"></script> 
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script defer src="{% static 'js/card-animate.min.js' %}"></script>


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'img/MAGA_Logo.gif' %}" alt="logo" height="53" width="100">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-fixed-top ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'whyrecycle' %}">Why Recycle</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'transformation' %}">Know More</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  {% block content %}
  {% endblock %}
  </body>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">
        <img src="{% static 'img/team-logo.png' %}" height="50" width="300">
        <br>Copyright &copy; Social Warriors 2019</p>

    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/pages.js' %}"></script>  

</body>

</html>
