{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-md-12 mb-5">
            <h2>Plastic Calculator</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-5">
            <div class="omni-calculator" data-calculator="ecology/plastic-footprint" data-width="800" data-config='{}' data-currency="AUD" data-show-row-controls="false" data-version="3" data-t="1566537827624">
              <div class="omni-calculator-header">Plastic Footprint Calculator</div>
              <div class="omni-calculator-footer">
                <a href="https://www.omnicalculator.com/ecology/plastic-footprint" target="_blank"><img alt="Omni" class="omni-calculator-logo" src="https://cdn.omnicalculator.com/embed/omni-calculator-logo-long.svg" /></a>
              </div>
            </div>
        </div>
    </div>
  </div>

  

{% endblock %}