{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <h1>Check your plastic footprint</h1>
      <hr>
      <p>Enter the approximate weekly usage of these household items to get an estimate of your plastic footprint.<br></p>
    </div>
  </div>
  <div class="row">
      <div class="col-md-8 col-xs-4 mb-5">
          <div class="omni-calculator" data-calculator="ecology/eco-friendly-bags" data-width="300" data-config='{"thrown":{"default":"0"},"times":{"default":"0"},"bag_type":{"default":"0"}}' data-currency="AUD" data-show-row-controls="false" data-version="3" data-t="1567833338171">
          <div class="omni-calculator-header">
            Bag Footprint Calculator
          </div>
          <div class="omni-calculator-footer">
            <a href="https://www.omnicalculator.com/ecology/eco-friendly-bags" target="_blank">
              <img alt="Omni" class="omni-calculator-logo" src="https://cdn.omnicalculator.com/embed/omni-calculator-logo-long.svg" />
            </a>
        </div>
        </div>
    </div>
  </div>
</div>

<script async src="https://cdn.omnicalculator.com/sdk.js"></script>
{% endblock %}