{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
        	<br>
        	<br>
	        <h2>Improve your recycle!</h2>
	    	<p><br> Now that you know the clean percentage of your recycle, you can help make it better.
	        Each little bit helps. You can learn more about the products, and why something should go into
	        the recycle bin, the rubbish bin or be disposed off in a special manner.<br>
	        <b>Hover over or click the cards below</b>
	        to find the classification information on the products:
	    	</p>
    	</div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-img" src="{% static 'img/01.png' %}" alt="goal-home">
                    </div>
                    <div class="flip-card-back">
                        <img class="card-img" src="{% static 'img/01b.png' %}" alt="tree1-home">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-img" src="{% static 'img/02.png' %}" alt="goal-home">
                    </div>
                    <div class="flip-card-back">
                        <img class="card-img" src="{% static 'img/02b.png' %}" alt="tree1-home">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-img" src="{% static 'img/12.png' %}" alt="goal-home">
                    </div>
                    <div class="flip-card-back">
                        <img class="card-img" src="{% static 'img/12b.png' %}" alt="tree1-home">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
    	<div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-img" src="{% static 'img/04.png' %}" alt="goal-home">
                    </div>
                    <div class="flip-card-back">
                        <img class="card-img" src="{% static 'img/04b.png' %}" alt="tree1-home">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-img" src="{% static 'img/11.png' %}" alt="goal-home">
                    </div>
                    <div class="flip-card-back">
                        <img class="card-img" src="{% static 'img/11b.png' %}" alt="tree1-home">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-img" src="{% static 'img/10.png' %}" alt="goal-home">
                    </div>
                    <div class="flip-card-back">
                        <img class="card-img" src="{% static 'img/10b.png' %}" alt="tree1-home">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
    	<div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-img" src="{% static 'img/05.png' %}" alt="goal-home">
                    </div>
                    <div class="flip-card-back">
                        <img class="card-img" src="{% static 'img/05b.png' %}" alt="tree1-home">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-img" src="{% static 'img/09.png' %}" alt="goal-home">
                    </div>
                    <div class="flip-card-back">
                        <img class="card-img" src="{% static 'img/09b.png' %}" alt="tree1-home">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-img" src="{% static 'img/03.png' %}" alt="goal-home">
                    </div>
                    <div class="flip-card-back">
                        <img class="card-img" src="{% static 'img/03b.png' %}" alt="tree1-home">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
    	<div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-img" src="{% static 'img/08.png' %}" alt="goal-home">
                    </div>
                    <div class="flip-card-back">
                        <img class="card-img" src="{% static 'img/08b.png' %}" alt="tree1-home">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-img" src="{% static 'img/07.png' %}" alt="goal-home">
                    </div>
                    <div class="flip-card-back">
                        <img class="card-img" src="{% static 'img/07b.png' %}" alt="tree1-home">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="card-img" src="{% static 'img/06.png' %}" alt="goal-home">
                    </div>
                    <div class="flip-card-back">
                        <img class="card-img" src="{% static 'img/06b.png' %}" alt="tree1-home">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}