{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<!-- Header -->
<br>
<br>
<div class="container py-0 mb-5">
  <div class="row">
    <div class="col-md-12 mb-5">
        <br>
        <h2>What makes something recyclable?</h2>
        <hr>
        <p>Recycling is the process of converting waste into other useable materials. So why are we allowed to
          put empty milk containers in the recycling bin but not styrofoam packaging? The process of recycling has to be
          provided with homogenous waste and an economically viable way to collect, process, recycle and re-distribute
          these materials back into the population.<br><br>
          Recyclable waste is collected from kerbside and then delivered to the appropriate recycling centre. The waste is
          then processed, sorting the cans, cartons, plastic, glass, etc according to the facilities available at the
          recycling plant.<br><br>
          Once sorted, the materials are then grouped together and sold onwards to the market. Recycling generates revenue
          as the raw materials included in the recycling can be bought cheaply and used to manufacture products that
          have a higher sell price, maximising the profit. <br><br>
          Recycling has a lot of benefits. Some of the benefits are listed below.
          <br><br>
        </p>
    </div>
  </div>
</div>
<!-- Page Content -->
<div class="container py-0 mb-5">
  <div class="col-md-12 mb-5">
    <h2>Benefits of Recycling</h2>
    <hr>
    <p><strong><em>Scroll down</em></strong> to see the categories below to find out how recycling impacts the environment in various ways.</p>
  </div>
    <!-- /.row -->
  <!-- Page Content -->

  <!-- /.row -->
  <div class="row">
    <div class="col-md-4 mb-5">
      <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
        <img class="money-blip img-fluid" data-toggle="collapse" src="{% static 'img/money_blip.png' %}" alt="money-edu">
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-4 mb-5" id="money">
      <div data-aos="fade-down-left" data-aos-duration="1500">
        <h2>Saving and Making Money</h2>
        <hr>
        <p>Proper recycling has several monetary benefits as well as improving
          the quality of life and the environment that we all live in. The monetary Benefits
          include:
          <ul>
            <li>Rates and taxes go down if the government get additional funds
            through proper recycle</li>
            <li>Several jobs are created with a sustainable recycling process</li>
            <li>Journal of Waste Management estimates a revenue of over $60 million
            with proper waste management and recycling schemes</li>
            <li>Several private companies will pay for your recycling if properly
            segregated</li>
          </ul>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-4 mb-5">
      <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
        <img class="kids-blip img-fluid" src="{% static 'img/kids_blip.png' %}" alt="kids-edu">
      </div>
    </div>

    
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-8 mb-5" id="kids">
      <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
        <h2>The Gift of a Green Future</h2>
        <hr>
        <p>Perhaps the biggest advantage of proper waste disposal and keeping recycling as the
           focus is the long term effect it has on the environment. With Global Warming
           affecting the climate, the Earth seems to be heading towards inevitable disaster but
           proper waste management could help reduce a massive slice of emissions, leaving the Earth
           safe and fresh for our future generations. Some of the main environmental benefits
           of proper recycling are given below:
          <ul>
            <li>Conservation of Energy, and hence, recycling is a renewable source of energy</li>
            <li>Greenhouse Gases such as Methane, Carbon Dioxide and Carbon Monoxide are emitted
              minimally</li>
            <li>Conserves natural resources such as timber, water and minerals</li>
            <li>Prevents pollution by reducing the need to collect new raw materials</li>
          </ul>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-4 mb-5">
      <div data-aos="zoom-in-up" data-aos-duration="1500">
        <img class="carbon-blip img-fluid" src="{% static 'img/carbon_blip.png' %}" alt="carbon-edu">
      </div>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-4 mb-5" id="carbon">
      <div data-aos="flip-down" data-aos-duration="1500">
        <h2>Reduced Carbon Footprint</h2>
        <hr>
        <p>
          <ul>
            <li>Recycling items saves the energy to create new items</li>
            <li>The emissions from landfill incinerators is avoided</li>
            <li>Recycled paper means more trees are left standing</li>
            <li>Composting helps reduce methane emissions</li>
          </ul>
        </p>
      </div>
    </div>
  </div> 
</div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
{% endblock %}
