<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Make Our Australia Green Again</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/MAGA/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/MAGA/css/business-frontpage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
          <img src="/static/MAGA/img/MAGA_Logo.gif" alt="logo" height="53" width="100">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education.html">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Information.html">Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Classification.html">Classification</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Transformation.html">Transformation</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="bg-primary py-0 mb-5">
    <div class = "header-with-back">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
              <h1 class="display-5 text-white font-comic font-weight-bolder mt-5 mb-6">A Greenner Sustainable Future
                <br>
                  For Australia
              </h1>
                <br>
              <div class="row">
                <div class="col-md-4 offset-md-3 mb-5">
                  <a class="btn btn-primary btn-lg" href="Education.html">Why should I care &#63;</a>
                </div>
                <div class="col-md-4 mb-5">
                  <a class="btn btn-primary btn-lg" href="Information.html">What should I do &#63;</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
    <!-- /.row -->
    <div class="row">
        <div class="col-md-4 mb-5">
            <h2>Our Team</h2>
            <hr>
            <p>The team for this project was assembled in August 2019 with a common goal of providing a solution to the ever-growing Australian waste problem. The details of the team can be found below: </p>
        </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="/static/MAGA/img/saksham.jpg" alt="saksham">
          <div class="card-body">
            <h4 class="card-title">Saksham Nagpal</h4>
            <p class="card-text">Data Analyst</p>
          </div>
{#          <div class="card-footer">#}
{#            <a href="#" class="btn btn-primary">Find Out More!</a>#}
{#          </div>#}
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="/static/MAGA/img/vishaka.jpg" alt="vishaka">
          <div class="card-body">
            <h4 class="card-title">Vishaka Baburaj</h4>
            <p class="card-text">Business Analyst</p>
          </div>
{#          <div class="card-footer">#}
{#            <a href="#" class="btn btn-primary">Find Out More!</a>#}
{#          </div>#}
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="/static/MAGA/img/colin.jpg" alt="colin">
          <div class="card-body">
            <h4 class="card-title">Jun Zhu</h4>
            <p class="card-text">Lead Developer</p>
          </div>
{#          <div class="card-footer">#}
{#            <a href="#" class="btn btn-primary">Find Out More!</a>#}
{#          </div>#}
        </div>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 offset-md-2 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="/static/MAGA/img/janice.jpg" alt="janice">
          <div class="card-body">
            <h4 class="card-title">Yiqian Zhu</h4>
            <p class="card-text">Lead Tester</p>
          </div>
{#          <div class="card-footer">#}
{#            <a href="#" class="btn btn-primary">Find Out More!</a>#}
{#          </div>#}
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="/static/MAGA/img/kevin.jpg" alt="kevin">
          <div class="card-body">
            <h4 class="card-title">Qiwen Wang</h4>
            <p class="card-text">Security Specialist</p>
          </div>
{#          <div class="card-footer">#}
{#            <a href="#" class="btn btn-primary">Find Out More!</a>#}
{#          </div>#}
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Make Our Australia Green Again 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/MAGA/vendor/jquery/jquery.min.js"></script>
  <script src="/static/MAGA/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script>
    // Activate Carousel
    $('.carousel').carousel({ interval: 4000});
  </script>

</body>

</html>
