{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <!-- Header -->
    <header class="bg-primary py-0 mb-5">
        <div class="header-with-back">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-12">
                        <h1 class="display-4 text-grey text-home-align-right font-weight-bolder mt-5 mb-6">Envisioning  A<br>
                             &nbsp; &nbsp;<font color="green">Greener</font> Australia
                        </h1>
                        <br>
                        <!-- <div class="row">
                <div class="col-md-4 offset-md-3 mb-5">
                  <a class="btn btn-primary btn-lg" href="{% url 'education' %}">Why should I care &#63;</a>
                </div> 
                <div class="col-md-4 mb-5">
                  <a class="btn btn-primary btn-lg" href="{% url 'information' %}">What should I do &#63;</a>
                </div>
              </div> -->
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>


    <!-- Video Content -->

    <div class="container">

        <!-- /.row -->
        <div class="row">
            <div class="col-md-12 mb-5">
                <h2>Introduction</h2>
                <hr>
                <p>Watch a short video about the project, the background and the need for a change</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-2 mb-5">
                <iframe width="720" height="540" src="https://www.youtube.com/embed/b8YtOUBwsY8" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    <!-- Page Content -->

        <!-- /.row -->
        <div class="row">
            <div class="col-md-4 offset-md-4 mb-5">
                <br>
                <br>
                <h2>Our Purpose</h2>
                <hr>
                <p>The team for this project was assembled in August 2019 with a common goal of providing a solution
                    to
                    the ever-growing Australian waste problem. The details of the team can be found below: </p>
            </div>
            <div class="col-md-4 mb-5">
                <img class="img-fluid" src="{% static 'img/intro_blip.png' %}" alt="tree1-home">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-5">
                <img class="img-fluid" src="{% static 'img/goal_blip.png' %}" alt="tree2-home">
            </div>
            <div class="col-md-4 mb-5">
                <h2>Our Goal</h2>
                <hr>
                <p>The team for this project was assembled in August 2019 with a common goal of providing a solution
                    to
                    the ever-growing Australian waste problem. The details of the team can be found below: </p>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-4 offset-md-4 mb-5">
                <h2>Our Hope</h2>
                <hr>
                <p>The team for this project was assembled in August 2019 with a common goal of providing a solution
                    to
                    the ever-growing Australian waste problem. The details of the team can be found below: </p>
            </div>
            <div class="col-md-4 mb-5">
                <img class="img-fluid" src="{% static 'img/hope_blip.png' %}" alt="baby-home">
            </div>
        </div>
      </div>
    </div>
    <!-- /.container -->

    <br>
{% endblock %}
