{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<header class="bg-white py-5 mb-5">
	<div class="container h-100">
		<div class="row no-gutters">
	        <div class="col-md-6">
	        	<div class="img-hover-zoom img-hover-zoom--colorize">
	        		<p class="imgtext">Our purpose</p>
	                <img class="homeimg" src="{% static 'img/homeimg1.jpg' %}" alt="">
	                <div class="btn-wrapper">
            			<a href="{% url 'about' %}" class="btn btn-primary">Discover &raquo;</a>
            		</div>
	            </div>
	        </div>
	        <div class="col-md-6">
	        	<div class="img-hover-zoom img-hover-zoom--colorize">
	        		<p class="imgtext">Check Your Plastic Consumption</p>
	                <img class="homeimg" src="{% static 'img/homeimg2.jpg' %}" alt="">
	                <div class="btn-wrapper">
            			<a href="{% url 'education' %}" class="btn btn-primary">Calculate &raquo;</a>
            		</div>
	            </div>
	        </div>
	    </div>
	    <div class="row no-gutters">
	        <div class="col-md-6">
	        	<div class="img-hover-zoom img-hover-zoom--colorize">
	        		<p class="imgtext">How Well Do You Know Recycling</p>
	                <img class="homeimg" src="{% static 'img/homeimg3.jpg' %}" alt="">
	                <div class="btn-wrapper">
            			<a href="{% url 'information' %}" class="btn btn-primary">Check your Knowledge &raquo;</a>
            		</div>
	            </div>
	        </div>
	        <div class="col-md-6">
	        	<div class="img-hover-zoom img-hover-zoom--colorize">
	        		<p class="imgtext">People's Opinions</p>
	                <img class="homeimg" src="{% static 'img/homeimg4.jpg' %}" alt="">
	                <div class="btn-wrapper">
            			<a href="{% url 'education' %}" class="btn btn-primary">Learn More &raquo;</a>
            		</div>
	            </div>
	        </div>
	   </div>
   </div>
</header>

<body>
	<div class="container">
		<div class="row">
	      <div class="col-md-8 mb-5">
	        <h2>What We Do</h2>
	        <hr>
	        <p>Our aim is to educate young parents to improve their recycling habits to
							<ul>
								<li>Educate the future generation of Australians</li>
								<li>Help Improve the Environment</li>
								<li>Make a Greener Australia</li>
							</ul>
					</p>
	        <a class="btn btn-primary btn-lg" href="{% url 'about' %}">About Us &raquo;</a>
	      </div>
	      <div class="col-md-4 mb-5">
	        <h2>Contact Us</h2>
	        <hr>
	        <address>
	          <strong>Social Warriors</strong>
	          <br>900 Dandenong Rd,
	          <br>Caulfield East VIC 3145
	          <br>
	        </address>
	        <div class="social-icons">
		        <a href="#"><i class="fab fa-facebook fa-3x" aria-hidden=true></i></a>
		        <a href="#"><i class="fab fa-twitter fa-3x" aria-hidden=true></i></a>
		        <a href="#"><i class="fab fa-google-plus fa-3x" aria-hidden=true></i></a>
		        <a href="#"><i class="fab fa-instagram fa-3x" aria-hidden=true></i></a>
		    </div>
	      </div>
	    </div>
	</div>
</body>

<br>
{% endblock %}
