{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<!-- Page Content -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script async src="{% static 'js/card-animate.js' %}"></script>
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-5">
            <br>
            <h2>How Clean is your Recycle </h2>
            <hr>
            <p>Incorrect waste classification causes dirty recycle, causing problems to the environment and the country.
            Use the info-graphic below to find the clean recycle rate of your suburb/council. </p>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12 col-md-9 col-xs-4 mb-5">
            <div class='tableauPlaceholder' id='viz1566793819908' style='position: relative'>
                <noscript>
                    <a href='#'>
                        <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;RecycleRates&#47;Dashboard1&#47;1_rss.png' style='border: none' />
                    </a>
                </noscript>
                <object class='tableauViz'  style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='RecycleRates&#47;Dashboard1' />
                    <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;RecycleRates&#47;Dashboard1&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='filter' value='publish=yes' />
                </object>
            </div>
        </div>
    </div>
    <h2>Improve your recycle!</h2>
    <p> <br> Now that you know the clean percentage of your recycle, you can help make it better.
      Each little bit helps. You can learn more about the products, and why something should go into
      the recycle bin, the rubbish bin or be disposed off in a special manner. Hover over the cards below
      to find the classification information on the products:
    <div class="row">
        <div class="col-md-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="img-fluid" src="{% static 'img/01.png' %}" alt="goal-home">
                </div>
                <div class="flip-card-back">
                  <img class="img-fluid" src="{% static 'img/01b.png' %}" alt="tree1-home">
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="img-fluid" src="{% static 'img/02.png' %}" alt="goal-home">
                </div>
                <div class="flip-card-back">
                  <img class="img-fluid" src="{% static 'img/02b.png' %}" alt="tree1-home">
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="img-fluid" src="{% static 'img/12.png' %}" alt="goal-home">
                </div>
                <div class="flip-card-back">
                  <img class="img-fluid" src="{% static 'img/12b.png' %}" alt="tree1-home">
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="img-fluid" src="{% static 'img/04.png' %}" alt="goal-home">
                </div>
                <div class="flip-card-back">
                  <img class="img-fluid" src="{% static 'img/04b.png' %}" alt="tree1-home">
                </div>
              </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="img-fluid" src="{% static 'img/11.png' %}" alt="goal-home">
                </div>
                <div class="flip-card-back">
                  <img class="img-fluid" src="{% static 'img/11b.png' %}" alt="tree1-home">
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="img-fluid" src="{% static 'img/10.png' %}" alt="goal-home">
                </div>
                <div class="flip-card-back">
                  <img class="img-fluid" src="{% static 'img/10b.png' %}" alt="tree1-home">
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="img-fluid" src="{% static 'img/05.png' %}" alt="goal-home">
                </div>
                <div class="flip-card-back">
                  <img class="img-fluid" src="{% static 'img/05b.png' %}" alt="tree1-home">
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="img-fluid" src="{% static 'img/09.png' %}" alt="goal-home">
                </div>
                <div class="flip-card-back">
                  <img class="img-fluid" src="{% static 'img/09b.png' %}" alt="tree1-home">
                </div>
              </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="img-fluid" src="{% static 'img/03.png' %}" alt="goal-home">
                </div>
                <div class="flip-card-back">
                  <img class="img-fluid" src="{% static 'img/03b.png' %}" alt="tree1-home">
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="img-fluid" src="{% static 'img/08.png' %}" alt="goal-home">
                </div>
                <div class="flip-card-back">
                  <img class="img-fluid" src="{% static 'img/08b.png' %}" alt="tree1-home">
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="img-fluid" src="{% static 'img/07.png' %}" alt="goal-home">
                </div>
                <div class="flip-card-back">
                  <img class="img-fluid" src="{% static 'img/07b.png' %}" alt="tree1-home">
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="img-fluid" src="{% static 'img/06.png' %}" alt="goal-home">
                </div>
                <div class="flip-card-back">
                  <img class="img-fluid" src="{% static 'img/06b.png' %}" alt="tree1-home">
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<script async src="{% static 'js/tableau.min.js' %}"></script>
<!-- /.container -->
{% endblock %}
