{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Find out more </h2>
            <hr>
            <p>The team for this project was assembled in August 2019 with a common goal of providing a solution to the
                ever-growing Australian waste problem. The details of the team can be found below: </p>
        </div>
    </div>
    <!-- /.row -->

    {#    row for 1st line #}
    <div class="row">
        <div class="col-md-3">
            <div class="card h-20">
                <img class="card-img-top" src="/static/MAGA/img/kids.jpg" alt="kids">
                <div class="card-body">
                    {#                    <h4 class="card-title">kids</h4>#}
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-20">
                <img class="card-img-top" src="/static/MAGA/img/kids.jpg" alt="kids">
                <div class="card-body">
                    {#                    <h4 class="card-title">kids</h4>#}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-20">
                <img class="card-img-top" src="/static/MAGA/img/kids.jpg" alt="kids">
                <div class="card-body">
                    {#                    <h4 class="card-title">kids</h4>#}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-20">
                <img class="card-img-top" src="/static/MAGA/img/kids.jpg" alt="kids">
                <div class="card-body">
                    {#                    <h4 class="card-title">kids</h4>#}
                </div>
            </div>
        </div>
    </div>
    {#    row for 2nd line #}
    <div class="row">
        <div class="col-md-3">
            <div class="card h-20">
                <img class="card-img-top" src="/static/MAGA/img/kids.jpg" alt="kids">
                <div class="card-body">
                    {#                    <h4 class="card-title">kids</h4>#}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-20">
                <img class="card-img-top" src="/static/MAGA/img/kids.jpg" alt="kids">
                <div class="card-body">
                    {#                    <h4 class="card-title">kids</h4>#}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-20">
                <img class="card-img-top" src="/static/MAGA/img/kids.jpg" alt="kids">
                <div class="card-body">
                    {#                    <h4 class="card-title">kids</h4>#}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-20">
                <img class="card-img-top" src="/static/MAGA/img/kids.jpg" alt="kids">
                <div class="card-body">
                    {#                    <h4 class="card-title">kids</h4>#}
                </div>
            </div>
        </div>
    </div>

    {#    row for 3rd line #}

    <div class="row">
        <div class="col-md-3">
            <div class="card h-20">
                <img class="card-img-top" src="/static/MAGA/img/kids.jpg" alt="kids">
                <div class="card-body">
                    {#                    <h4 class="card-title">kids</h4>#}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-20">
                <img class="card-img-top" src="/static/MAGA/img/kids.jpg" alt="kids">
                <div class="card-body">
                    {#                    <h4 class="card-title">kids</h4>#}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-20">
                <img class="card-img-top" src="/static/MAGA/img/kids.jpg" alt="kids">
                <div class="card-body">
                    {#                    <h4 class="card-title">kids</h4>#}
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3">
            <div class="card h-20">
                <img class="card-img-top" src="/static/MAGA/img/kids.jpg" alt="kids">
                <div class="card-body">
                    {#                    <h4 class="card-title">kids</h4>#}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
{% endblock %}