{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<br>
<br>
<div class="container py-0 mb-5">
	<div class="row">
		<div class="col-md-12 mb-5">
			<h2>Facts about recycling you may want to know</h1>
			<hr>
		</div>
	</div>
	<div id="page">
		<div class="row fact col-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card1.jpg' %}" class="card-img" alt="card1">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;1</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6 offset-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card2.jpg' %}" class="card-img" alt="card2">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;2</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card3.jpg' %}" class="card-img" alt="card3">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;3</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6 offset-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card4.jpg' %}" class="card-img" alt="card4">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;4</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card5.jpg' %}" class="card-img " alt="card5">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;5</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6 offset-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card6.jpg' %}" class="card-img" alt="card6">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;6</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card7.jpg' %}" class="card-img" alt="card7">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;7</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6 offset-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card8.jpg' %}" class="card-img" alt="card8">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;8</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card9.jpg' %}" class="card-img" alt="card9">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;9</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6 offset-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card10.jpg' %}" class="card-img" alt="card10">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;10</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card11.jpg' %}" class="card-img " alt="card11">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;11</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6 offset-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card12.jpg' %}" class="card-img" alt="card12">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;12</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card13.jpg' %}" class="card-img" alt="card13">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;13</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6 offset-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card14.jpg' %}" class="card-img" alt="card14">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;14</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				  	</div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card15.jpg' %}" class="card-img" alt="card15">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;15</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6 offset-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card16.jpg' %}" class="card-img" alt="card16">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;16</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card5.jpg' %}" class="card-img " alt="card5">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;17</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				  </div>
				</div>
			</div>
		</div>

		<div class="row fact col-md-6 offset-md-6">
			<div class="text-white bg-success mb-3">
	  			<div class="row no-gutters">
				    <div class="col-md-4">
				      <img src="{% static 'img/card6.jpg' %}" class="card-img" alt="card6">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">Fact&#35;18</h5>
				        <p class="card-text">
				        	It Takes Centuries for a Disposable Diaper to Break Down in a Landfill.
				        </p>
				      </div>
				  	</div>
				</div>
			</div>
		</div>
	</div>

	<nav aria-label="Fact Pages">
      <ul class="pagination justify-content-center">
        <li class="page-item previous-page"><a class="page-link" href="javascript:void(0)">Previous</a></li>
      </ul>
    </nav>
</div>
{% endblock %}
